/*div {
	outline: 1px solid #aaa;
}*/

.row {
	margin-bottom: 20px;
}
.navbar-default .navbar-brand {
	color: #000;
	font-style: italic;
	font-size: 23px;
}

/*
@media only screen
and (max-width: 500px) {
	body {
		background-color: red;
	}
}
*/
